@using BEANlayer
@model LoginBEAN
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        body, section {
            column-count: 1;
            background-image: url(../../Images/Bitcoin.jpg); 
            background-size: cover;
            /*      padding: 1px 1px 1px 1px; /* top right botton left*/ */
        }
        label {
            width: 120px;
            display: inline-block;
  
        }

    </style>
</head>
<body>

    @using (Html.BeginForm())

    {
        <section>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.userID, "User ID", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.userID, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.userPassword, "Password", htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(model => model.userPassword, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>


            <div>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </section>


    }
</body>
</html>
