@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <br />
    <p>
        We are building this tool trying to have a resource that allow us to have a fast picture of our Portfolio, that allow us to make on-time decisions, we do not pretent to replace all the
        wonderful online software and tools that there are in the Trading Market, we are building this software just for entertainment propuse only and to have a support tool for
        the retail traiders.
        <br />
        <br />
        This is a Beta version of this tool, so we are accepting any kind of suggestions to get a better tool for everybody.
        <br />
        <br />
        <b>If you want to custom this tool to your needs just let us know.</b>
        <br />
        <br />
        Have a happy trading All.!
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
