@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are building this tool trying to have a resource that allow us to have a fast picture of our Portfolio, we do not pretent to replace all the 
    wonderful software that there is in the Trading Market, we are doing this software just for entertainment propuse and to have a support tool for 
    the retail traiders.
    .</p>
