@{
    ViewBag.Title = "Contact US";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Happy Trading Tool<br />
    Lima, Perú<br />
    <abbr title="Phone">P:</abbr>
    +51 997.048.188 -  Only WhatsApp 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:iabaaba@gmail.com">iabaaba@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:iabaaba@gmail.com">iabaaba@gmail.com</a>
</address>