
@{
    ViewBag.Title = "Support Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>@ViewBag.Title</h2> -->
<h2>@ViewBag.Message</h2>

<style>
    section.support {
        column-count: initial;
        
    }
    section.support div {
        width: 100%;
    }
</style>


<section class="support">
    <div>
        We are doing our best building this tool to support our retail traiders for FREE, please help us to keep running this website
    </div>
</section>


